*{
 margin: 0;
  padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #a4f075;
    font-family: "Open Sans", arial, Sans-serif;
    font-size: 18px;
}

#logo{
    float:left;
}

#normal{
    width: 50%;
    margin: 5px 10px 5px 10px;
    display:inline-block;
}

nav a{
    margin-right: 50px;
}

#navbar {
    overflow:hidden;
    color:black;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    line-height:130px;
    height: 130px;
}

a:link{
    text-decoration: none;

}

#rimage{
    clear:both;
    position:static;
    float:right;
    margin: 150px 0 0px 50px;
    font-size: 10px;
    text-align: center;

}

img,source{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    clear: both;
}

#footer{
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    height: 75px;
    line-height:75px;
    position: absolute;
    top:100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
   display:block;
}

ul{
    list-style-position: inside;
    list-style-type: disc;
}

#hide{
  text-align : center;
  vertical-align: middle;
}
