*{
 margin: 0;
  padding: 0;
}

html,body{
    min-width: 100%;
    min-height: 100%;
}
body{
    background-color: white;
    font-family: "Open Sans","Myriad Pro",Verdana,sans-serif;
    font-size: 18px;
}

#logo{
    float:left;
}

#normal{
    padding-top:50px;
    padding-bottom:50px;
    border-style:hidden;
    width: 100%;
    margin-top: 5%;
    display:inline-block;
    background-color: #538cc6;
    margin-bottom: 5%;
}

nav input[type=range]{
  display: inline;
  position: absolute;
  top: 60%;
  margin-left: 70px;
}

nav p{
  margin-top : -100px;
  padding-right : 100px;
}

nav a{
    margin-right: 50px;
}

div{
  background-color: #C0C0C0;
  border-style: groove;
  border-color: #C0C0C0;
  margin-bottom: 30px;
  width: 95%;
  margin-left:50px;
}

p,ul, h2{
  color: black;
}


#navbar, #footer{
  overflow:hidden;
  background-color: #538cc6;
  width: 100%;
  text-align: center;
  left:0;
}
#navbar {
    position: fixed;
    top: 0;
    height: 130px;
    line-height:125px;
}

a:link{
    text-decoration: none;
    color:blue;
}

a:visited{
    color:purple;
}


nav a:link{
    text-decoration: none;
    color:black;
}

nav a:visited{
    color:black;
}

#rimage{
    clear:both;
    position:static;
    float:right;
    margin: 150px 0 0px 50px;
    font-size: 10px;
    text-align: center;

}

img,source{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    clear: both;
}

#footer{
    height: 75px;
    line-height:75px;
    position: absolute;
    bottom:0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
   display:block;
}

ul{
  list-style-position: inside;
    list-style-type: disc;
}

#hide{
  text-align : center;
  vertical-align: middle;
}
